* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  --primary-1: #0d121c;
  --primary-2: #301e67;
  --card: #301e678d;
  --primary-3: #0c34d6;
  --primary-3-light: #745ac4;
  --primary-4: #b6eada;
  --sidenav: #03001cce;
  --gradient: #1c2f4b;
  --white: #fff;
  --black: #000;
  --dark-gray: #0e1521;
  --gray: #1c2f4b;
  --light-gray: #94a3b8;
  --icons-img: invert(1);
  --big-img: invert(0);
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding: 2rem 1rem;
  background: radial-gradient(circle at top, var(--black), var(--primary-1));
  color: var(--primary-3);
}

h1 {
  font-size: min(4rem, min(10vw, 6rem));
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 900;
}

.cards {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
  transition: all 0.2s ease;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid var(--gray);
  background: var(--dark-gray);
  padding-bottom: 1rem;
}

.card:hover {
  box-shadow: 4px 4px 40px var(--gradient);
}

img {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  object-position: 0 0;
  overflow: hidden;
  transition: all 0.2s ease;
  margin-bottom: 1rem;
}

img:hover {
  /* filter: blur(1rem); */
  transform-origin: bottom;
  scale: 1.15;
}

a {
  text-decoration: none;
  color: var(--primary-3-light);
}